body{
    background-color: black;
}
a{
    padding: 0%;
    margin: 0%;
    color: rgb(255, 255, 255);
    font-family: "Source Code Pro";
    font-size: medium;
    text-decoration: none;
}
h2{
    padding: 0px;
    color: rgb(255, 255, 255);;
}
hr {
    margin: 1em 0px;
    padding: 0px;
    color: white;
    background-color: transparent;
    border: none;
    border-image: initial;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.css-hxt7ib {
    padding-top: 10%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 10%;
}
.css-1fv8s86{
    font-family: 'Source Code Pro';
    font-weight: 300;
}
.css-1q8dd3e{
    border-radius: 2rem;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem ;
    background-image: url('https://drive.google.com/file/d/1slHDA6ZuAmXT8scbzFYAHHq03HEUkjwe/view?usp=sharing');
}
.css-10trblm{
    color:rgb(215, 101, 30);
    align-content: center;
}
.css-1fv8s86 .css-10trblm{
    color: rgb(144, 52, 224);
}
.optizen{
    border: 4px solid rgb(140, 30, 30);
    color:rgb(220, 120, 43);
    padding: 8px;
    border-radius: 2rem;
    text-align: center;
    border-style: outset;
}
.inneroptizen{
    border: 2px solid white;
    color: white;
    border-radius: 3rem;
    text-align: center;
}
